.container-hover {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #d9dce4;
  /* border: 2px solid #0d1d41; */
  border-radius: 3px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0d1d41;
  border-radius: 3px;
}

.container-hover:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Select--multi .Select-value {
    color: #ffffff;
    opacity: 1;
    background-color: #0d1d41;
    border-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.9;
}

/*Supposed to remove dropdown arrow*/
.Select::-ms-expand { 
    display: none; 
  } 

/*Supposed to remove dropdown arrow*/
.Select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

/* Remove outline when clicked*/
.is-focused:not(.is-open)>.Select-control {
    border: 0px;
    border-color: #ffffff;
    box-shadow: none;
}